/* Styling Navbar */
.thanhnav {
  width: 100%;
  background-image: linear-gradient(to right, #001f54, #468faf);
}
/* Title section */
.title {
  background-color: #48cae4;

  margin: 50px 50px;
}
h1 {
  padding: 100px 50px 50px;
  color: white;
}
.title-image {
  border-radius: 100%;
  padding: 10px;
}

h2 {
  text-align: center;
}
