body {
  text-align: cetner;
}

/* Styling Navbar */
.thanhnav {
  width: 100%;
  background-image: linear-gradient(to right, #001f54, #468faf);
}
/* Title section */
.title {
  background-image: linear-gradient(to right, #001f54, #468faf);

  margin: 50px 50px;
}
h1 {
  padding: 100px 100px;
  text-align: center;
  color: white;
}
h2 {
  color: #001f54;
}
.title-image {
  border-radius: 100%;
  padding: 10px;
}

h2 {
  text-align: center;
}
p {
  text-align: center;
}

/* Features div */
.features {
  margin: 50px 50px;
}

/* coding languages section */
.coding-image {
  text-align: center;
  width: 180px;
  height: 240px;
}
.color-section {
  background-color: #468faf;
}
